h1{
    margin: 2vmin;
    color: lawngreen;
}



.carousel {
    padding: 0 16vmin;
    width: 100%;
}



.carousel-cards {
    width: 11rem;
}


.card-img {
    width: 100%;
    height: 12rem;
}

.carousels-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vmin;
}

.character-card {
    width: 12rem;
    margin: 2vmin 1vmin 0 1vmin
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25vmin;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.see-more {
    margin-bottom: 0.3vmin;
}

.pagination {
    color: lawngreen;
    display: flex;
    align-items: center;
}

.page-info {
    margin: 0 1vmin;
    font-weight: bold;
    font-size: 2em;
}

.ctrl-buttons {
    background-color: gray;
    border: lawngreen solid 2px;
    height: 5rem;
    width: 10rem;
    color: lawngreen;
    font-weight: bold;
}

.ctrl-buttons:hover {
    background-color: lawngreen;
    color: gray;
    font-weight: bold;
    border: solid gray 2px;
}